  <div class="content-frame" style="height: 300px; overflow-y: scroll">
    <!--<div [innerHTML]="data.content">-->
<!---->
    <!--</div>-->
  </div>

  <div class="text-center mt-5">
    <div class="d-flex text-left justify-content-center">
      <ul style="list-style: none">
        <li class="mb-4"><p-checkbox></p-checkbox> <span class="ml-3">ยินยอมเฉพาะกลุ่มธุรกิจทางการเงินทิสโก้ในการนำเสนอผลิตภัณฑ์อื่น</span></li>
        <li class="mb-4"><p-checkbox></p-checkbox> <span class="ml-3">ยินยอมเฉพาะหลุ่มธุรกิจทางการเงินทิสโก้ในการนำข้อมูลไปวิเคราะห์</span></li>
      </ul>
    </div>
    <div>
      <button class="btn btn-wider btn-primary mt-3 mb-5" [routerLink]="['/features', 'InterestRate']">ตกลง</button>
    </div>
  </div>
