<div class="container">
  <div class="content-frame step-pic" >
    <i class="fa fa-check"></i>
  </div>
  <div class="row justify-content-center">
    <div class="quastion mt-3">
      <br>
      <br>
      <br>
      <div class="mt-4 text-center">
        <p style=" font-size: 28px;
        font-weight: bold;">ดำเนินการสำเร็จ!</p>
        <label>รายการเลขที่: XXX-YYYY123456</label>
      </div>
      <div class="mt-4 text-center text-thx">
        <p>ขอบคุณที่ใช้บริการ</p>
      </div>
      <div class="mt-4 text-center details">
        <p>เงินกู้จะถูกโอนเข้าบัญชีปลายทางที่ท่านระบุ และ</p>
        <p>สำเนาเอกสารยืนยันการกู้จะถูกส่งตามที่อยู่ที่ท่านแจ้งไว้</p>
      </div>
      <!-- <div class="mt-4 text-center">
        <label>ช่องทางการชำระเงินล่าสุด</label>
        <div class="ui-g payment">

        </div>
      </div> -->
      <br>
      <br>
      <br>
      <div class="mt-4 text-center details">
        <p style="font-size: 16px;">สอบถามเพิ่มเติม</p>
      </div>
      <div class="mt-4 text-center text-thx">
        <p>02 633 6000 กด 3</p>
      </div>
    </div>
  </div>
</div>
